$black: #23272f;
$white: #fffdfc;
$codeBg: #f6f8fa;
$code: #1f2328;
$attention: #fff8c5;
$greenBlack: #2dd4bf1a;
$greenWhite: #5eead4;

body {
	width: 100%;
	background-color: $white;
	font-family: "Ubuntu", sans-serif;
	margin: 0;

	.nav {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		border-bottom: 1px solid #eee;
		font-size: 16px;

		:first-child {
			margin-right: auto !important;
		}

		a {
			padding: 20px;
			text-decoration: none;
			color: $black;
		}
	}

	&.dark {
		background-color: $black;
		color: $white;
		.nav {
			border-bottom-color: #ccc;

			a {
				color: $white;
			}
		}

		.logos {
			.github {
				background-image: url("/assets/images/github-light.svg");
			}
			.linkedin {
				background-image: url("/assets/images/linkedin-light.svg");
			}
			.php {
				background-image: url("/assets/images/php-light.svg");
			}
		}

		.contact-page {
			.titles {
				span {
					border: 1px solid #eee;
					color: $greenWhite;
					background-color: $greenBlack;
					border-color: $greenBlack;
					&:hover {
						background-color: $attention;
					}
				}
			}

			.text {
				textarea,
				input {
					background-color: black;
					border-color: black;
					color: white;
				}
			}
		}

		::placeholder {
			color: white;
		}

		.homepage {
			.projects {
				> div {
					border-color: $greenBlack;
					a {
						color: $white;
					}

					.technologies {
						span {
							color: $greenWhite;
							background-color: $greenBlack;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 799px) {
	#root {
		width: 100%;
		margin: 0 auto;

		.contact-page {
			.text {
				width: 100%;
			}
		}

		.homepage {
			flex-direction: column;
			.projects,
			.bio {
				width: 100%;
				margin-left: 0;
				> div {
					margin: 0;
					padding-left: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	#root {
		width: 80%;
		margin: 0 auto;

		.contact-page {
			.text {
				width: 100%;
			}
		}

		.homepage {
			flex-direction: column;
			.projects,
			.bio {
				width: 100%;
				margin-left: 0;
				> div {
					margin: 0;
					padding-left: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	#root {
		width: 60%;
		margin: 0 auto;
		.contact-page {
			.text {
				width: 60%;
			}
		}

		.homepage {
			flex-direction: row;
			.projects,
			.bio {
				width: 100%;
				margin: 10px;
				> div {
					margin: 10px;
					padding: 10px;
				}
			}
		}
	}
}

.logos {
	display: flex;
	justify-content: start;

	div {
		margin: 10px 20px;
		width: 24px;
		height: 24px;
		background-size: cover;

		&.github {
			background-image: url("/assets/images/github-dark.svg");
		}

		&.linkedin {
			background-image: url("/assets/images/linkedin-dark.svg");
		}

		&.php {
			background-image: url("/assets/images/php-dark.svg");
		}
	}
}

.footer {
	border-top: 1px solid #eee;
	margin-top: 100px;
	margin-bottom: 40px;
}

.content {
	margin: 20px;
}

.code {
	color: $code;
	background-color: $codeBg;
	padding: 12px;
	font-family: monospace;
	word-wrap: break-word;
}

.contact-page {
	.titles {
		margin: 20px 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: flex-start;
		align-items: baseline;

		span {
			padding: 6px;
			border: 1px solid #eee;
			margin: 4px;
			border-radius: 4px;
			white-space: nowrap;

			cursor: pointer;
			&:hover {
				background-color: $attention;
			}
		}
	}

	.text {
		width: 60%;
		margin: 0 auto;

		textarea {
			width: 100%;
			height: 200px;
			border: 1px solid #eee;
			font-family: "Ubuntu", sans-serif;
			font-size: 16px;
			border-radius: 2px;
			box-sizing: border-box;
			background-color: $white;
		}

		input {
			width: 100%;
			border: 1px solid #eee;
			height: 20px;
			margin-bottom: 4px;
			font-family: "Ubuntu", sans-serif;
			font-size: 16px;
			border-radius: 2px;
			box-sizing: border-box;
			background-color: $white;
		}
	}
	.send {
		margin: 10px 0 40px 0;
	}
}

.btn {
	padding: 6px 12px;
	border-radius: 4px;
	margin: 2px;
	background-color: #64748b;
	color: $white;
	border-color: transparent;
	cursor: pointer;
	font-size: 16px;
	&.link {
		border: 0;
		background-color: transparent;
		color: #007bff;
		&:hover {
			text-decoration: underline;
		}
	}
}

a {
	color: #007bff;
	text-decoration: none;
	font-size: 16px;
	&:hover {
		text-decoration: underline;
	}
}

.homepage {
	display: flex;
	flex-direction: row;

	.bio {
		width: 40%;
		margin: 10px;
		.info {
			position: sticky;
			top: 40px;
			margin-top: 10px;
		}
	}

	.projects {
		width: 60%;
		margin: 10px;

		> div {
			position: relative;
			margin: 10px;
			padding: 10px;
			border: 1px solid #eee;
			border-radius: 10px;
			overflow: hidden;
			cursor: pointer;

			.title {
				padding: 0;
				margin: 10px 8px;
				span {
					float: right;
				}

				a {
					color: $black;
					margin-left: 4px;
				}
			}

			.technologies {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: center;
				justify-content: flex-start;
				align-items: center;
				padding-left: 20px;
				span {
					font-size: 12px;
					margin: 1px;
					padding: 4px 10px;
					border: 0; //1px solid #ccc;
					white-space: nowrap;
					border-radius: 8px;
					background-color: $greenBlack;
					color: $black;
				}
			}

			ul {
				list-style-type: none;
				padding-inline-start: 20px;
				li {
					margin: 6px 0;
				}
			}

			.image {
				width: 100%;
				height: 100%;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.1;
			}
		}
	}
}

.user-message {
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 8px;
	margin: 4px 0;
	box-sizing: border-box;

	&.error {
		border-color: red;
		background-color: rgba(255, 0, 0, 0.2);
	}

	&.success {
		border-color: green;
		background-color: rgba(0, 128, 0, 0.2);
	}
}

.validation-error {
	color: rgba(255, 0, 0, 0.6);
	padding: 4px 4px;
}
