$black: #020a13;
$white: #fffdfc;
$codeBg: #f6f8fa;
$code: #1f2328;
$attention: #fff8c5;

body {
	width: 100%;
	background-color: $white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;

	.nav {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		border-bottom: 1px solid #eee;
		font-size: 16px;

		:first-child {
			margin-right: auto !important;
		}

		a {
			padding: 20px;
			text-decoration: none;
			color: $black;
		}
	}

	&.dark {
		background-color: $black;
		color: $white;
		.nav {
			border-bottom-color: #ccc;

			a {
				color: $white;
			}
		}

		.logos {
			.github {
				background-image: url("/assets/images/github-light.svg");
			}
			.linkedin {
				background-image: url("/assets/images/linkedin-light.svg");
			}
			.php {
				background-image: url("/assets/images/php-light.svg");
			}
		}

		.contact-page {
			.titles {
				span {
					border: 1px solid #eee;
					color: $black;
					background-color: white;
					&:hover {
						background-color: $attention;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	#root {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 800px) {
	#root {
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1024px) {
	#root {
		width: 60%;
		margin: 0 auto;
	}
}

.logos {
	display: flex;
	justify-content: start;

	div {
		margin: 10px 20px;
		width: 24px;
		height: 24px;
		background-size: cover;

		&.github {
			background-image: url("/assets/images/github-dark.svg");
		}

		&.linkedin {
			background-image: url("/assets/images/linkedin-dark.svg");
		}

		&.php {
			background-image: url("/assets/images/php-dark.svg");
		}
	}
}

.footer {
	border-top: 1px solid #eee;
	margin-top: 100px;
}

.content {
	margin: 20px;
}

.code {
	color: $code;
	background-color: $codeBg;
	padding: 12px;
}

.contact-page {
	.titles {
		margin: 20px 0;

		span {
			padding: 6px;
			border: 1px solid #eee;
			margin: 4px;
			border-radius: 4px;
			cursor: pointer;
			&:hover {
				background-color: $attention;
			}
		}
	}

	.text {
		width: 100%;

		textarea {
			margin: 0 auto;
			width: 60%;
			height: 200px;
			border: 1px solid #eee;
		}
	}
	.send {
		margin: 10px 0 40px 0;
	}
}

.btn {
	padding: 6px 12px;
	border-radius: 4px;
	margin: 2px;
	background-color: #64748b;
	color: $white;
	border-color: transparent;
	cursor: pointer;

	&.link {
		border: 0;
		background-color: transparent;
		color: #007bff;
		&:hover {
			text-decoration: underline;
		}
	}
}
